<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h2 class="fw-bolder" style="font-size: 6rem;">404</h2>
        <p class="fs-3">Page not found</p>
    </div>
</div>